# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

# Custom Stuff
*imgui.ini
AxCompiler2*
AxCompiler_Old*
*.spv

vcpkg_installed/
.vs/
.vscode/compile_commands.json
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
